
@import url('https://fonts.googleapis.com/css?family=Arimo');

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: #f0ecec;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

.app-container .back-header {
  height: 30%;
  width: 100%;
  background-color: #110f3e;
  background-image: url('./fleur.png');
  position: fixed;
  background-size: 3%;
  z-index: 0;
  top: 0;
}

.app-container .tile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 7px -3px #949494;
  text-align: center;
  position: relative;
  z-index: 10;
  width: 90%;
  margin: 0 auto;
  height: 90%;
  overflow: auto;
}

.app-container .tile.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}


.app-container .tile.loading .loading-container {
  font-size: 1.4rem;
}
.matuidi-charo {
  height: 200px;
  width: 200px;
  background-image: url('https://media3.giphy.com/media/3oD3YFjkwL38aAlfwI/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: block;
}

button {
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid #2196f3;
  color: #fff;
  border-radius: 40px;
  background: #2196f3;
  outline: none;
  margin-top: 15px;
  transition: background ease-in 0.1s;
}

button:hover {
  background:#2F2933;
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}

.lyrics-container {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: pre-wrap;
  text-align: left;
}

iframe.lyricist {
  height: 100% !important;
  width: 100% !important;
}

.lyricist .embed-layer {
  text-align: left;
  padding: 30px;
}

.translation {
  padding: 30px;
  text-align: left;
}

.translation .lyric {
  margin-bottom: 10px;
  color: #a5a5a5
}

.translation .lyric b {
  color: #2F2933;
  font-weight: 400;
}

.album-art {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 5px;
}

h1.song-title {
  margin: 15px 0 0 0;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
}

h2.song-artist {
  margin: 5px 0 0 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.75;
}

.nav {
  width: calc(100%);
  margin-bottom: 20px;
  border-bottom: 1px solid #c2c2c2;
  color: #2F2933;
}

.nav .option {
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #f0ecec;
}

.nav .option.selected {
  border-bottom: 2px solid #110f3e;
}

.playback-container {
  padding: 30px;
}